.preloader {
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  background: #537db4;
  color: white;
  animation: pulse 1s infinite;
}
  
@keyframes pulse {
  0% {
  background-color: rgba(42, 65, 92, 0.5);
  color: rgba(255, 255, 255, 0.5);
  }

  50% {
  background-color: #537db4;
  color: white;
  }
  
  100% {
  background-color: rgba(42, 65, 92, 0.5);
  color: rgba(255, 255, 255, 0.5);
  }
}