a.nav-link {
    display: inline-block;
    color: rgb(255, 255, 255, 0.75);
}

a.nav-link:hover {
    color: white;
}

a.nav-link.active {
    color: white;
}

.space-top {
    margin-top: 2em;
}

.navbar span {
    color: #bbbbbb;
}

.card-blockquote>img {
    width: 100%;
}

.card {
    margin-bottom: 1em;
}

.selected {
	background: #666666;
}

html {
    position: relative;
    min-height: 100%;
}
  
body {
    margin-bottom: 220px;
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card-image {
    width: 300px;
    height: 200px;
}